

<div class="container mt-5" th:fragment="contenido">
    <div class="row">
        
        <div class="col-md-4 col-xl-3">
            <div class="cardBoard bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-warning">Ordenes</h6>
                    <h2 class="text-right text-warning">
                      <i class="fa fa-cart-plus  text-warning" ></i>
                      <span class="text-warning" style="float: right;"  th:text="${ordenes}"></span>
                    </h2>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="cardBoard bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-warning">Total Ventas</h6>
                    <h2 class="text-right text-warning">
                        <i class="fa fa-rocket text-warning"></i>
                        <span class="text-warning" style="float: right;" th:text="'$ '+ ${#numbers.formatDecimal((totalVentas), 0, 'POINT', 0, 'POINT')}"></span>
                    </h2>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="cardBoard bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-warning">Ganancias</h6>
                    <h2 class="text-right text-warning"><i class="fa-solid fa-sack-dollar  text-warning"></i><span class="text-warning" style="float: right;" th:text="'$ '+${#numbers.formatDecimal((ganancias), 0, 'POINT', 0, 'POINT')}"></span></h2>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="cardBoard bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-warning">Clientes totales</h6>
                    <h2 class="text-right text-warning"><i class="fa-solid fa-users  text-warning"></i><span class="text-warning" style="float: right;" th:text="${clientesTotales}"></span></h2>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
          <div class="cardBoard bg-c-blue order-card">
              <div class="card-block">
                  <h6 class="m-b-20 text-warning">Compradores</h6>
                  <h2 class="text-right text-warning"><i class="fa-solid fa-user-tag  text-warning"></i><span class="text-warning" style="float: right;" th:text="${compradores}"></span></h2>
                  
              </div>
          </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="cardBoard bg-c-blue order-card">
            <div class="card-block">
                <h6 class="m-b-20 text-warning">Cocinas</h6>
              
                <h2 class="text-right text-warning"><i class="fa-solid fa-kitchen-set  text-warning"></i><span class="text-warning" style="float: right;" th:text="${cocinas}"></span></h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-3">
      <div class="cardBoard bg-c-blue order-card">
          <div class="card-block">
              <h6 class="m-b-20 text-warning">Deliveries</h6>
               <h2 class="text-right text-warning"><i class="fa-solid fa-motorcycle  text-warning"></i><span class="text-warning" style="float: right;" th:text="${deliveries}"></span></h2>
           
          </div>
      </div>
  </div>
  <div class="col-md-4 col-xl-3">
    <div class="cardBoard bg-c-blue order-card">
        <div class="card-block">
            <h6 class="m-b-20 text-warning">Cantidad de platos</h6>
            <h2 class="text-right text-warning"><i class="fa-solid fa-utensils  text-warning"></i><span class="text-warning" style="float: right;" th:text="${cantidadDePlatos}"></span></h2>
            
        </div>
    </div>
</div>
<div class="col-md-4 col-xl-3">
  <div class="cardBoard bg-c-blue order-card">
      <div class="card-block">
          <h6 class="m-b-20 text-warning">Plato mas vendido</h6>
          <h2 class="text-right text-warning"><i class="fa-solid fa-utensils  text-warning"></i><span class="text-warning" style="float: right;" th:text="${platoMasVendido[1] + ' unidades'}"></span></h2>
          <p> <span class="text-right text-warning" th:text="${platoMasVendido[0]}"></span></p>
      </div>
  </div>
</div>
<div class="col-md-4 col-xl-3">
  <div class="cardBoard bg-c-blue order-card">
      <div class="card-block">
          <h6 class="m-b-20 text-warning">Chef con mas ventas</h6>
          <h2 class="text-right text-warning"><i class="fa-solid fa-utensils  text-warning"></i><span class="text-warning" style="float: right;"  th:text="${chefMasVendido[1] + ' ventas'}"></span></h2>
          <p><span class="text-right text-warning" th:text="${chefMasVendido[0]}"></span></p>
      </div>
  </div>
</div>
<div class="col-md-4 col-xl-3">
  <div class="cardBoard bg-c-blue order-card">
      <div class="card-block">
          <h6 class="m-b-20 text-warning">Usuario con más compras</h6>
          <h2 class="text-right text-warning"><i class="fa-solid fa-utensils  text-warning"></i>
            <span class="text-warning" style="float: right;" th:text="${clienteMasCompra[1] + ' compras'}"></span></h2>
          <p><span class="text-warning" th:text="${clienteMasCompra[0]}"></span></p>
          
      </div>
  </div>
</div>

	</div>
</div>


<!-- <div class="container-fluid d-flex text-center justify-content-center full-screen w-80" th:fragment="contenido"> -->




  <!-- <div class="bg-white">
    <h1 class="text-center m-2">DASHBOARD</h1>
    <div class="text-center align-items-center mx-5 ">
          <button class="btn btn-warning">Usuarios</button>
          <button class="btn btn-warning">Kitchen</button>
          <button class="btn btn-warning">Delivery</button>
          <button class="btn btn-warning">Total de Ordenes</button>
          <button class="btn btn-warning">Venta Total</button>
          <button class="btn btn-warning">Ganancia Acumulada</button>
    </div>
  </div>
  <hr>
  <section > -->
    <!-- <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>
    <body>
        
            <div class="row" style="min-height: calc(100vh - 144px);">
              <div class="col" th:replace="~{${dash} :: dashboard}"></div> -->
                <!-- <div class="col" th:replace="${dash} :: dashboard"></div>
            </div>
        </div>
        <div th:fragment="script"></div>
    </body>
    </html>
      
    
      
  

</section> -->

<!-- </div> -->

<div th:fragment="script"></div>
