<div class="container pt-3 my-auto" th:fragment="contenido">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light text-white" >Ghost Kitchen</h1>
                <p class="lead text-white">¿Listo para satisfacer tus antojos? Explora nuestro menú ahora y déjanos llevarte una experiencia gastronómica excepcional. ComidaExpress: Tu comida favorita, a solo un clic de distancia.</p>

            </div>
        </div>
    </section>


    <div class="album py-5 bg-light">
        <div class="container fluid">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div th:each="chef : ${randomChefs}" class="col-12 col-sm-6 col-md-4 col-lg-3" >
                    <form th:action="@{/${chef.id}}" th:object="${chef}" method="POST" enctype="multipart/form-data" >
                        <a th:href="@{'/perfil/' + ${chef.id}}" class="card shadow-sm mb-3 text-center" style="height: 400px; text-decoration: none; ">
                            <img th:src="${'/images/chefs/' + chef.image}" class="bd-placeholder-img card-img-top" style="border: 1px solid #ccc;">
                            <div class="card-body align-items-center">
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <span th:each="starNumber : ${#numbers.sequence(1, chef.user.rank)}">
                                        <i class="fa-regular fa-star"></i>
                                    </span>
                                    <span th:if="${chef.user.rank % 1 != 0}" class="half-star">
                                        <i class="fa-regular fa-star-half"></i>
                                    </span>
                                </div>
                                <p class="text-muted text-center description" th:text='${chef.description}' style="overflow: hidden; text-overflow: ellipsis;"></p>
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        .description {
            max-height: 100px; /* Límite de altura de 150px */
            overflow: hidden;
            text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si se trunca el texto */
        }
    </style>

    <div th:fragment="script">

    </div>

