<body th:fragment="contenido">
  <main class="container py-5">
    <h1 class="text-center text-light z-3">Menú - Todos</h1>

    <hr class="my-5" />

    <div class="row" data-masonry='{"percentPosition": true }'>
      <div class="col-sm-6 col-lg-4 mb-4" th:each="dihs : ${allDishes}">
        <form th:action="@{'/pedido/' + ${dihs.id} }" th:object="${dish}"  method="POST">
          
          <div class="card mb-3 w-50">
            <img
              src="https://assets.delirec.com/images%2FeoOvaVL8h1UVOPY8FHH39BSwtep2%2Frecipe%2F2d4a6707-2e63-4137-8b26-cf900d6bb36d-Comida-divertida-palha%C3%A7o--gallery-0"
              class="card-img-top rounded-image"
              alt="Producto Sugerido 4"
            />
            <div class="card-body">
              <h5 class="card-title" th:text="${dihs.name}"></h5>
              <p class="card-text">
                Descripción del cuarto producto sugerido...
              </p>
              <p class="card-text" th:text="${dihs.price}"></p>
              <input type="number" name="cantidad" min="1" max="5" width="30px" value="1" />
              
              <button type="submit" class="btn btn-primary">Pedir</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

<div th:fragment="script">
  <!-- Contenido del script -->
</div>
