<body th:fragment="contenido">

    <main class="container py-5">
        <h1 class="text-center text-light z-3">Menú - Todos</h1>
        <div th:if="${message}" class="alert alert-success mt-3 d-flex justify-content-center">
            <p th:text="${message}"></p>
        </div>



        <hr class="my-5" />


        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-sm-6 col-lg-3 mb-6" th:each="dihs : ${allDishes}">
                <form th:action="@{'/pedido/' + ${dihs.id} }" th:object="${dish}"  method="POST" enctype="multipart/form-data">

                   <div class="card mb-5 w-70">
                        <img
                           th:src="${'/images/dishes/' + dihs.image}"
                           class="card-img-top rounded-image"
                            alt="Producto Sugerido 4"
                            />
                        <div class="card-body">
                            <h5 class="card-title" th:text="${dihs.name}"></h5>
                            <p class="card-text">
                                Descripción del cuarto producto sugerido...
                            </p>
                            <p class="card-text" th:text="${dihs.price}"></p>
                            <input type="number" name="cantidad" min="1" max="5" width="30px" value="1" />
                            <input type="text" name="detalle" placeholder="Agregar/quitar ingredientes" >
                            
                        </div>
                        <div>
                          <button type="submit" class="btn btn-primary">Pedir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>








<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

-->
</body>

<div th:fragment="script">

</div>
